html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;


}
.footer {
    background-color: rgb(194, 165, 194);
    min-height: 150px;
}


table tr td {
    background-color:rgb(143, 171, 188);
}

table tr th {
    background-color: rgba(0,121,100,0.75);
}

tfoot tr td {
    letter-spacing: 2px;
}

.th-nome {
    letter-spacing: 2px;
}

.iframe {
    width: 400px;
    margin-left: 30px;
}

.end-msg {
    display: flex;
}

.contato {
    width: 400px;
    margin-left: 20px;
}

label {
    width: 70px;;
    display: inline-block;
}

input {
    width: 310px;
}

textarea {
    width: 382px;
}